@font-face
    font-family: "manrope"
    src: url("/fonts/OpenSans-Regular.ttf") format('truetype')
    font-style: normal

@font-face
    font-family: "manrope"
    src: url("/fonts/OpenSans-SemiBold.ttf") format('truetype')
    font-weight: bold

@font-face
    font-family: "manrope"
    src: url("/fonts/OpenSans-Light.ttf") format('truetype')
    font-weight: 100

*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: 'manrope', sans-serif
    scroll-behavior: smooth

*:not(input, textarea)
    -webkit-touch-callout: none
    -webkit-user-select: none
    -khtml-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none

.rtl
    direction: rtl



input[type=text], select, textarea
    padding-left: 1em
    padding-right: 1em

#alert, #decorator
    display: none

@mixin absoluteCenter
    position: absolute
    margin: auto
    top: 0
    bottom: 0
    left: 0
    right: 0
    z-index: 999

@mixin mobile
    @media screen and (max-width: 900px)
        @content

@mixin flex
    display: flex
    justify-content: center
    align-items: center

@mixin flex-column
    @include flex
    flex-direction: column

@mixin flex-item
    height: 100%
    flex: 1

@mixin flex-column-item
    width: 100%
    flex: 1

body
    background-image: var(--body-background)
    background-size: var(--body-background-size)
    color: var(--global-text-color)

.posButton
    color: var(--posbutton-text-color)
    background: var(--posbutton-background)
    text-shadow: 1px 1px #1f272b
    border: solid 1px var(--posbutton-border-color)
    overflow: hidden
    cursor: pointer
    text-decoration: none

.posHeader
    padding: 0.5em
    color: var(--pos-header-text-color)
    background: var(--pos-header-background)
    cursor: default

#pageContainer
    @include flex
    height: 100vh

.posButton, .posHeader
    @include flex
    text-align: center

.posButton.active, .posButton:active
    border: inset 2px
    background: var(--posbutton-background-active)

.posButton.voidButton
    background: var(--void-button-background)

.invisible
    visibility: hidden

.hidden
    display: none

.pulse
    animation-name: color
    animation-duration: 300ms
    animation-iteration-count: 1

@keyframes color
    0%
        background-color: var(--pulse-first-color)
    50%
        background-color: var(--pulse-second-color)
    100%
        background-color: var(--pulse-final-color)