<div class="itemPage">
<table cellspacing="0" cellpadding="0">
    <tr>
        <td><!--[button:CRAFTBEER025]--></td>
        <td><!--[button:CRAFTBEER026]--></td>
        <td><!--[button:CRAFTBEER027]--></td>
        <td><!--[button:CRAFTBEER028]--></td>
        <td><!--[button:CRAFTBEER029]--></td>
        <td><!--[button:CRAFTBEER030]--></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><!--[button:CRAFTBEER031]--></td>
        <td><!--[button:CRAFTBEER032]--></td>
        <td><!--[button:CRAFTBEER033]--></td>
        <td><!--[button:CRAFTBEER034]--></td>
        <td><!--[button:CRAFTBEER035]--></td>
        <td><!--[button:CRAFTBEER036]--></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><!--[button:CRAFTBEER037]--></td>
        <td><!--[button:CRAFTBEER038]--></td>
        <td><!--[button:CRAFTBEER039]--></td>
        <td><!--[button:CRAFTBEER040]--></td>
        <td><!--[button:CRAFTBEER041]--></td>
        <td><!--[button:CRAFTBEER042]--></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><!--[button:CRAFTBEER043]--></td>
        <td><!--[button:CRAFTBEER044]--></td>
        <td><!--[button:CRAFTBEER045]--></td>
        <td><!--[button:CRAFTBEER046]--></td>
        <td><!--[button:CRAFTBEER047]--></td>
        <td><!--[button:CRAFTBEER048]--></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table></div>