<div class="itemPage">
<table cellspacing="0" cellpadding="0">
    <tr>
        <td><!--[button:CRAFTBEER001]--></td>
        <td><!--[button:CRAFTBEER002]--></td>
        <td><!--[button:CRAFTBEER003]--></td>
        <td><!--[button:CRAFTBEER004]--></td>
        <td><!--[button:CRAFTBEER005]--></td>
        <td><!--[button:CRAFTBEER006]--></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
   </tr>
    <tr>
        <td><!--[button:CRAFTBEER007]--></td>
        <td><!--[button:CRAFTBEER008]--></td>
        <td><!--[button:CRAFTBEER009]--></td>
        <td><!--[button:CRAFTBEER010]--></td>
        <td><!--[button:CRAFTBEER012]--></td>
        <td><!--[button:INSTRUCTION005]--></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><!--[button:INSTRUCTION006]--></td>
    </tr>
    <tr>
        <td><!--[button:CRAFTBEER013]--></td>
        <td><!--[button:CRAFTBEER014]--></td>
        <td><!--[button:CRAFTBEER015]--></td>
        <td><!--[button:CRAFTBEER016]--></td>
        <td><!--[button:CRAFTBEER017]--></td>
        <td><!--[button:CRAFTBEER018]--></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><!--[button:CRAFTBEER019]--></td>
        <td><!--[button:CRAFTBEER020]--></td>
        <td><!--[button:CRAFTBEER021]--></td>
        <td><!--[button:CRAFTBEER022]--></td>
        <td><!--[button:CRAFTBEER023]--></td>
        <td><!--[button:CRAFTBEER024]--></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table></div>